.map{
    width:auto;
    height:1000px;
    background-color: #47814533 ;
    
}

[class*="copyrights-pane"]{
    display:none !important ;
}

.balloon{
    display:block;
    position:absolute; left:40px; top:20px;
    width:200px; height:auto; /* высота подстраивается под контент */
    background:#fff; padding:10px;
    -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;
}

.balloon:before{
    content: '.';
    position:absolute; left:-10px; top:50%; margin-top:-10px;
    display:block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
}